/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
img{
  height: 90px;
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  
}

.container .registration {
  display: none;
}

#check:checked~.registration {
  display: block;
}

#check:checked~.login {
  display: none;
}

#check {
  display: none;
}

.container .login-form,
.container .signup {
  padding: 2rem;
}

.login-form header,
.signup header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-form .input,
.signup .input {
  height: 50px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.login-form .input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.login-form a {
  font-size: 16px;
  color: #1CA5E8;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.login-form button,
.signup button {
  height: 50px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  color: #fff;
  background: #1CA5E8;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  /* margin-top: 1.2rem; */
  cursor: pointer;
  transition: 0.4s;
}

.login-form button:hover {
  background: #1CA5E8;
}

.signup {
  font-size: 17px;
  /* text-align: center; */
}

.signup label:hover {
  text-decoration: underline;
}